<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.1" targetFramework="net452" />
  <package id="AngularJS.Animate" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Aria" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.5.8" targetFramework="net452" />
</packages>